
<div class="section-interior-services">
    <div class="wrapper">
     {{ section.settings.textt }}
    <h2>{{ section.settings.title1 }}</h2> 
    
  

         <div class="interior-services">
            <div class="flex">
                {% for block in section.blocks %}
             <div class="services-box">  
          <h3>  <a href="{{ block.settings.link }}" class="">{{ block.settings.box-text }}</a> </h3> 
    
               </div>
             {% endfor %}

 </div>
  </div>
</div>
 </div>


{% schema %}
  {
    "name": "interior-services",
    "settings": [
      {
        "type" : "richtext",
        "id" : "textt",
        "label" : "Text"
      },
        {
        "type" : "text",
        "id" : "title1",
        "label" : "Heading"
      }
    ],
    "blocks" : [
      {
        "type" : "text",
        "name" : "text",
        "settings": [
          {
        "type" : "text",
        "id" : "box-text",
        "label" : "box-text "
      },
               {
      "id": "link",
      "type": "url",
      "label": "link"
    }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "interior-services"
      }
    ]
  }
{% endschema %}