
<div class="section-rows-consultation">
    <div class="wrapper">
    <h2>{{ section.settings.title }}</h2> 
     <p> {{ section.settings.title1 }}</p>
    
  

         <div class="main-rows-consultation">
                {% for block in section.blocks %}
                          <div class="flex">

                             <div class="text-rows-consultation">  
                         {{ block.settings.buy-text2 }} 
                       </div> 
             <div class="design-rows-consultation">           
               <img src="{{ block.settings.image | img_url: 'master' }}" >
               </div>
                
                   </div>
             {% endfor %}


  </div>
  </div>
 </div>


{% schema %}
  {
    "name": "rows-consultation",
    "settings": [
      {
        "type" : "text",
        "id" : "title",
        "label" : "Heading"
      },
       {
        "type" : "text",
        "id" : "title1",
        "label" : "Heading_two"
      }
        
    ],
    "blocks" : [
      {
        "type" : "image_picker",
        "name" : "Image",
        "settings": [
      {
            "type" : "image_picker",
            "id" : "image",
            "label" : "Image"
          },
           {
        "type" : "richtext",
        "id" : "buy-text2",
        "label" : "Hover_text"
      }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "rows-consultation"
      }
    ]
  }
{% endschema %}